<head>
    <meta charset="UTF-8">
    <title>SimplyRETS | RETS API Documentation</title>
    <link rel="icon" type="image/png" href="images/favicon-32x32.png" sizes="32x32" />
    <link rel="icon" type="image/png" href="images/favicon-16x16.png" sizes="16x16" />
    <link href="{{ "/api/assets/css/typography.css" | relative_url}}" media="screen" rel="stylesheet" type="text/css"/>
    <link href="{{ "/api/assets/css/reset.css" | relative_url}}" media="screen" rel="stylesheet" type="text/css"/>
    <link href="{{ "/api/assets/css/screen.css" | relative_url}}" media="screen" rel="stylesheet" type="text/css"/>
    <link href="{{ "/api/assets/css/reset.css" | relative_url}}" media="print" rel="stylesheet" type="text/css"/>
    <link href="{{ "/api/assets/css/print.css" | relative_url}}" media="print" rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" href="{{ "/assets/css/swagger.css" | relative_url }}">
    <script src="{{ "/api/assets/lib/jquery-1.8.0.min.js" | relative_url}}" type="text/javascript"></script>
    <script src="{{ "/api/assets/lib/jquery.slideto.min.js" | relative_url}}" type="text/javascript"></script>
    <script src="{{ "/api/assets/lib/jquery.wiggle.min.js" | relative_url}}" type="text/javascript"></script>
    <script src="{{ "/api/assets/lib/jquery.ba-bbq.min.js" | relative_url}}" type="text/javascript"></script>
    <script src="{{ "/api/assets/lib/handlebars-2.0.0.js" | relative_url}}" type="text/javascript"></script>
    <script src="{{ "/api/assets/lib/underscore-min.js" | relative_url}}" type="text/javascript"></script>
    <script src="{{ "/api/assets/lib/backbone-min.js" | relative_url}}" type="text/javascript"></script>
    <script src="{{ "/api/assets/swagger-ui.js" | relative_url}}" type="text/javascript"></script>
    <script src="{{ "/api/assets/lib/highlight.7.3.pack.js" | relative_url}}" type="text/javascript"></script>
    <script src="{{ "/api/assets/lib/marked.js" | relative_url}}" type="text/javascript"></script>

    <script type="text/javascript">
     $(function () {

         var apidocsURL = "{{ "/api/assets/resources.json" | relative_url}}"

         window.swaggerUi = new SwaggerUi({
             apiKeyName: "Authorization",
             url: apidocsURL,
             dom_id: "swagger-ui-container",
             // headers: { "Authorization": "Basic UUxrNG5ocENHYTJQbTJzRnlYZE46Zm9v" },
             supportedSubmitMethods: ['get'],
             onComplete: function(swaggerApi, swaggerUi){

                 console.log("Loaded SwaggerUI")
                 function addApiKeyAuthorization() {
                     var key = encodeURIComponent($('#input_apiKey')[0].value);
                     var secret = encodeURIComponent($('#input_apiSecret')[0].value);
                     if(key && key.trim() != "") {
                         var apiKeyAuth = new SwaggerClient.PasswordAuthorization(
                             "basicAuth",
                             key,
                             secret
                         );
                         window.swaggerUi.api.clientAuthorizations.add("basicAuth", apiKeyAuth);
                         // window.authorizations.add("basicAuth", apiKeyAuth);
                     }
                 }

                 $('pre code').each(function(i, e) {hljs.highlightBlock(e)});

                 addApiKeyAuthorization();
             },
             onFailure: function(data) {
                 console.log("Unable to Load SwaggerUI");
             },

             docExpansion: "list",
             validatorUrl: null
         });


         window.swaggerUi.load();

     });
    </script>

    {%- if jekyll.environment == 'production' and site.google_analytics -%}
      {%- include google-analytics.html -%}
    {%- endif -%}
</head>
