---
---

.swagger-section {
    .swagger-ui-wrap {

        /**
         * The following CSS rules prevent the swagger parameters from
         * overflowing the endpoint container.
         */

        table tbody tr td {
            max-width: 400px;
        }

        .body-textarea,
        input.parameter {
            max-width: 200px;
        }

        select.parameter {
            width: 200px;
        }
    }
}
